@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Open+Sans|Droid+Serif|Lora");
body {
  font-family: "Droid Sans", "Lato", "Open Sans", Arial, sans-serif;}
h1,
h2,
h3{
  font-family: "Droid Serif", "Lora", Georgia, serif;}

.iconic{
    font-size: 2rem;
}
.iconic-social-facebook:before {
    content: '\e23a';
    color: hsl(240, 100%, 27%);
}
.iconic-social-twitter:before {
    content: '\e243';
    color: hsl(181, 100%, 41%);
}
.iconic-social-youtube:before {
    content: '\e245';
    color: hsl(300, 100%, 50%);
}
.iconic-social-instagram:before {
    content: '\e23e';
    color: hsl(280, 61%, 50%);
}
footer{
  text-align: center;
}

.masthead{
    box-sizing: content-box;
    width: 100;
}
.masthead img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
  font-size: 14px;
}
body{
    color:#2448E0;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}