@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Open+Sans|Droid+Serif|Lora");
body {
  font-family: "Droid Sans", "Lato", "Open Sans", Arial, sans-serif;}
h1,
h2,
h3{
  font-family: "Droid Serif", "Lora", Georgia, serif;}

.iconic{
    font-size: 2rem;
}
.iconic-social-facebook:before {
    color: hsl(240, 100%, 27%);
}
.iconic-social-twitter:before {
    color: hsl(181, 100%, 41%);
}
.iconic-social-youtube:before {
    color: hsl(300, 100%, 50%);
}
.iconic-social-instagram:before {
    color: hsl(280, 61%, 50%);
}
footer{
  text-align: center;
}

.masthead{
    box-sizing: content-box;
    width: 100;
}
.masthead img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-nav .nav-link {
    color: currentColor;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color: currentColor;
}
.nav {
    margin-left: 3rem;
}
html {
  font-size: 14px;
}
body{
    color:#2448E0;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}